*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #09090A;
    color: #fff;
    overflow-y: hidden;
}
body::-webkit-scrollbar{
    background-color: #18181B;
}
body::-webkit-scrollbar-thumb{
    background-color: #27272A;
    border-radius: 8px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #A1A1AA;
}
button{
    padding: 16px 24px;
    border-radius: 8px;
    border: 1px #8B5CF6 solid;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    gap: 10px;
}
header{
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
input{
    width: 64px;
    height: 64px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 8px;
    background-color: #18181B;
    border: 2px solid #27272A;
}
input:checked{
    background-color: #8B5CF6;
    border:2px solid #A78BFA;
}
#form-habits{
    display: flex;
    padding: 200px 48px 48px;
    /* overflow-x: scroll; */
}
/* #form-habits::-webkit-scrollbar{
    background-color: #18181B;
    border-radius: 5px;
}
#form-habits::-webkit-scrollbar-thumb{
    background-color: #27272A;
    border-radius: 8px;
} */

@media (max-width: 576px) {
    button div{
        display: none;
    }
}

.days{
    display: flex;
    margin-left: 32px;
    gap: 48px;
    padding-right: 48px;
}
.day{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color:#A1A1AA;
    font-size: 20px;
    align-items: center;
}
.day div{
    font-family: 'Roboto Mono';
    font-weight: 700;
    margin-bottom: 20px;
}
.habits{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 70px;
}

.habit{
    font-size: 32px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}